@mixin myButton {
  border-radius: 100px;
  background-color: $light-green-bck;
  color: $light-orange-text;
  @include fontChoose("family", "Georgia");
  @include fontChoose("size", "18px");
  @include fontChoose("weight", 800);
}
