/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/*$arial: "Arial", sans-serif;
$segoe: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$georgia: Georgia, "Times New Roman", Times, serif;

$font-17px: 17px;
$font-18px: 18px;
$font-20px: 20px;
$font-40px: 40px;
$font-100px: 100px;

$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;*/
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

header nav {
  display: flex;
  align-items: center;
}

header nav img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  margin-left: 10px;
}

header nav ul li {
  border: 1px solid black;
  border-radius: 100px;
  margin-left: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

header nav ul li a {
  text-decoration: none;
  font-size: 20px;
}

h1 {
  font-size: 100px;
  font-weight: 800;
  text-align: center;
  margin-block: 10px;
  animation: fade-in 5s;
}

.hero {
  background-color: #00a38c;
  height: 90vh;
}

.hero ul {
  width: 50%;
  display: flex;
  list-style-type: none;
  text-align: center;
  justify-content: space-evenly;
  margin-inline: auto;
  margin-block: 30px;
  animation: fade-in 5s;
}

.hero ul li button {
  border-radius: 100px;
  background-color: #c3eddf;
  color: #fcbd03;
  font-family: "Georgia";
  font-size: "18px";
  font-weight: 800;
  border-radius: 100px;
  box-shadow: 0 3px 5px #000;
  border: 1px solid rgba(210, 207, 207, 0.6862745098);
  width: 10rem;
  height: 6vh;
  margin-inline: auto;
  cursor: pointer;
}

.text-box {
  display: flex;
  align-items: center;
  margin: 100px 10px;
  width: 70%;
  animation: fade-in 5s;
}

.text-box img {
  border-radius: 100px;
  box-shadow: 0 3px 5px #000;
  border: 1px solid rgba(210, 207, 207, 0.6862745098);
}

.text {
  width: 60%;
  margin-left: 50px;
}

.grill {
  display: flex;
  justify-content: space-around;
  margin-block: 20px;
}

.grill img {
  border-radius: 100px;
  box-shadow: 0 3px 5px #000;
  border: 1px solid rgba(210, 207, 207, 0.6862745098);
  border-radius: 0;
}/*# sourceMappingURL=style.css.map */